.DS_Store
*.pyc
*.egg-info
*.swp
.env
.vite/
tags
node_modules
dev-dist/
dma/public/frontend/assets/*.css
dma/public/frontend/assets/*.js
dma/public/frontend/*.js
__pycache__
frontend/auto-imports.d.ts
/frontend/components.d.ts